<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQDropDownMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21032E911EB9BA6400596AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21032EAA1EB9BA6500596AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21032EB51EB9BA6500596AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
